################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RicePK/obj/Debug
/RicePK/obj/Release
